<div id="<%= dom_id article %>">
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= article.detail %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= article.brand_id %>
  </p>

</div>
