<div id="<%= dom_id article %>">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= article.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Marca: <%= article.brand_id %></h6>
      <p class="card-text"><%= article.detail %></p>
    </div>
  </div>
</div>

