<p style="color: green"><%= notice %></p>

<% if !params[:tag] %>
  <div class="lead mb-5 mt-5" style>
    <h1 class="display-6" >Vende o encuentra todo para tu hijos</h1>
    <p>Los niños crecen rápido y muchas veces te quedas con sus cositas casi nuevas.</p>
    <p>En vendebebe.cl podrás ofrecer todo lo que no uses desde ropita, sillas, juguetes, pañales, etc. y también econtrar lo que necesites ahora para tus hijos. </p>
  </div>

  <%= render "carrusel" %>
<% end %>

<h2 class="mb-5 mt-5">Productos disponibles</h2>
<% if user_signed_in?  %>
  <%= link_to "Ingresar Producto", new_article_path, class: "btn btn-primary mb-3" %>
<% end %>

  <div id="articles">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col">
            <%= render article %>
        </div>
      <% end %>
    </div>
  </div>