<div id="<%= dom_id tag %>">
  <div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= tag.name %></h5>
      <%= link_to "Ver Productos", articles_path(:tag => "#{tag.name}"), class: "btn btn-outline-primary btn-sm"%>
    </div>
  </div>
</div>