<p style="color: green"><%= notice %></p>

<h1>Categorías</h1>

<div id="tags">
  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col">
          <%= render tag %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New tag", new_tag_path %>
