<div id="<%= dom_id brand %>">
  <div class="card w-25 mb-3">
    <div class="card-body">
      <h5 class="card-title"> <%= brand.name %> </h5>
      <%= link_to "Ver detalles", brand %>
    </div>
  </div>
</div>
