<p style="color: green"><%= notice %></p>

<h1>Nuestras Marcas</h1>
<% if user_signed_in? %>
  <%= link_to "Nueva marca", new_brand_path, class: "btn btn-primary" %>
<% end %>
<br>

<div id="brands">
  <% @brands.each do |brand| %>
    <%= render brand %>
  <% end %>
</div>

<%#= link_to "New brand", new_brand_path %>
