<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffe6e6;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">vendebebe.cl  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <%# <a class="nav-link" href="#">Marcas</a> %>
          <%= link_to "Marcas", brands_path, class: "nav-link" %> </li>
        </li>
      </ul>
      <div>
        <% if user_signed_in? %>
          <%= button_to( "Salir", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm mb-1" ) %>
        <% else %>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-warning btn-sm mb-1" %>
          <%= link_to "Ingresar", new_user_session_path, class: "btn btn-primary btn-sm mb-1"  %>
        <% end %>
      </div>
    </div>
  </div>
</nav>